<%- include('partials/header'); -%>​
​
<header>​

  <div class="smoothie">​
    <img src="/flight.jpg" alt="">​
  </div>​

  <div class="headings">​
    <h2>Flight Center System</h2>​
    <h3>a Place 2 Fullfill Dreams!</h3>​
    <a href="/smoothies" class="btn">View</a>​
  </div>​

</header>​

<%- include('partials/footer'); -%>​

​